---
import ShimmeringText from "../components/shimmering-text.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rida F'kih | Text Shimmer Snippets</title>
  </head>
  <body>
    <div>
      <ShimmeringText quote="“So the whole universe,” you said, “it’s just…”" />
      <ShimmeringText
        quote="“An egg.” I answered. “Now it’s time for you to move on to your next life.”"
      />
      <ShimmeringText quote="“And I just sent you on your way.”" />
    </div>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  span {
    font-weight: 200;
  }

  :root {
    font-family: "Outfit", system-ui, sans-serif;
    letter-spacing: 0.025em;
    line-height: 2em;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    background: rgba(0, 0, 0, 1);
    color: rgba(220, 220, 220, 1);

    margin: auto;

    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
<style>
  div {
    width: fit-content;
    margin: auto;
  }
</style>
