---
interface Props {
  quote: string;
}

const { quote } = Astro.props;
---

<div data-quote={quote}>
  <span class="quote-size" aria-hidden="true" data-quote={quote}></span>
  <span class="quote-reflection" data-quote={quote}>{quote}</span>
</div>
<style>
  :root {
    --shimmer-light-color: #eee;
    --shimmer-dark-color: #666;
  }

  div[data-quote] {
    width: fit-content;
    position: relative;

    .quote-size {
      pointer-events: none;
      user-select: none;
      color: transparent;

      &::before {
        content: attr(data-quote);
      }
    }

    .quote-reflection {
      container-type: inline-size;
      position: absolute;
      inset: 0;

      &::before {
        pointer-events: none;
        position: inherit;
        inset: inherit;

        --text-width: calc(100cqw / 1px);
        --animation-duration: calc(var(--text-width) * 5ms);

        content: attr(data-quote);
        color: transparent;
        background: linear-gradient(
          to right,
          var(--shimmer-dark-color),
          var(--shimmer-dark-color),
          var(--shimmer-light-color),
          var(--shimmer-dark-color),
          var(--shimmer-dark-color)
        );

        background-clip: text;
        animation: var(--animation-duration) linear shimmer infinite;
      }
    }
  }

  @keyframes shimmer {
    from {
      background-position-x: 0cqw;
    }
    to {
      background-position-x: 100cqw;
    }
  }
</style>
