---
import ThemeControlIllustration from "./theme-control-illustration.astro";
---

<div class="theme-control">
  <input type="radio" name="theme" id="bottom-left" checked />
  <label for="bottom-left">
    <ThemeControlIllustration />
    <span>Bottom left</span>
  </label>
</div>

<style>
  .theme-control {
    display: flex;
    gap: 0.5rem;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  label {
    width: fit-content;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  input[type="radio"]:checked + label {
    color: var(--color-outline);
    outline: 2.5px solid var(--color-outline);
    background: color-mix(in srgb, var(--color-outline) 5%, transparent);

    :global(.illustration) {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    }
  }

  input[type="radio"]:focus-visible + label {
    outline: 2.5px solid var(--color-outline);
  }
</style>
