---
interface Props {
  variant?: "light" | "dark" | "system";
}

const { variant = "light" } = Astro.props;
---

<div class="illustration" data-variant={variant}>
  <div class="window">
    <div class="traffic-lights">
      <div class="red"></div>
      <div class="yellow"></div>
      <div class="green"></div>
    </div>
    <div class="skeleton lg"></div>
    <div class="skeleton md"></div>
    <div class="skeleton sm"></div>
  </div>
</div>

<style>
  .illustration {
    --illustration-red: #cc6a5b;
    --illustration-yellow: #e4b652;
    --illustration-green: #7ab65b;

    --illustration-background: #ffffff;
    --illustration-skeleton: #f0f0f0;
    --illustration-outline: #dedede;

    background: var(--illustration-background);
    clip-path: inset(0.0625rem round 0.625rem);

    overflow: hidden;

    position: relative;
    transition: 0.24s filter ease;

    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05));

    &::before {
      position: absolute;
      inset: 0;
      z-index: 3;
      backdrop-filter: invert(1) contrast(0.75);
    }

    &[data-variant="dark"]::before {
      content: "";
    }

    &[data-variant="system"]::before {
      content: "";
      transform: scaleX(0.5);
      transform-origin: right;
    }

    .window {
      padding: 0.6875rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 0.25rem;
      padding-bottom: 1.25rem;
      border: 0.1875rem solid var(--illustration-outline);
      border-radius: 0.6875rem;

      > * {
        grid-column-start: 1;
      }
    }
  }

  .traffic-lights {
    display: flex;
    gap: 0.1875rem;
    padding-bottom: 0.25rem;
    z-index: 3;

    & > div {
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
    }

    .red {
      background: var(--illustration-red);
    }

    .yellow {
      background: var(--illustration-yellow);
    }

    .green {
      background: var(--illustration-green);
    }
  }

  .skeleton {
    border-radius: 0.3125rem;
    background: var(--illustration-skeleton);

    &.lg {
      height: 2rem;
      grid-column-end: -1;
    }

    &.md {
      height: 0.5rem;
      grid-column-end: -3;
    }

    &.sm {
      height: 0.5rem;
      grid-column-end: -4;
    }
  }
</style>
